<!DOCTYPE html>
<Html lang="pt-br">

<head>
    <title>Avatar: a Lenda de Aang</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../js/script.js"></script>
</head>

<body>

    <header>

        <h1 id="espaço">pad</h1>
        <h1 id="titulo">Avatar a Lenda de Aang</h1>
        <img src="../assets/header.png" alt="Avatar">
        <nav id="barraNavegacao">
            <button onclick="location.href='../index.html'" type="button">Introdução</button>
            <button onclick="location.href='enredo.html'" type="button">Enredo</button>
            <button onclick="location.href='personagens.html'" type="button">Personagens</button>
            <button onclick="location.href='elementos.html'" type="button">Elementos</button>
            <button onclick="location.href='trivia.html'" type="button">Trivia</button>
        </nav>

    </header>

    <section id="div_A">
        <br>

        <h2>Elementos</h2>

        <br>
        <p>
            Dobrar é a habilidade de manipular um elemento e é essencial para muitos aspectos da
            vida no mundo de Avatar. Existem cinco artes de dobra conhecidas, quatro delas dobram um elemento
            físico específico, enquanto a quinta dobra a energia dentro do próprio corpo humano.
            O único caso em que uma pessoa é capaz de dobrar vários elementos é o Avatar, que tem a
            habilidade de praticar todas as cinco artes de dobra.
        </p>

        <p>
            As quatro artes de dobra elementais são baseadas nos quatro elementos clássicos, água,
            terra, fogo e ar, cada um sendo manipulado por meio de certos estilos de artes marciais
            que lembram as qualidades do próprio elemento. A dobra é tradicionalmente realizada através
            dos movimentos das mãos e dos pés, mas certos dobradores são capazes de manipular efetivamente
            seu elemento com apenas um movimento mínimo do corpo, como usar apenas a cabeça ou o torso.
        </p>
        <br><br>

        <div id='imgele'>

            <div>
                <img class='eleimage1' src="../assets/ar.png" alt="Ar" onclick="mostra('ar')">
                <img class='eleimage2' src="../assets/agua.png" alt="Agua" onclick="mostra('agua')">
            </div>

            <div>
                <img class='eleimage1' src="../assets/terra.png" alt="Terra" onclick="mostra('terra')">
                <img class='eleimage2' src="../assets/fogo.png" alt="Fogo" onclick="mostra('fogo')">
            </div>


        </div>

        <div id='txtele'>
            <p id='ar'>
                Dobrar o ar é a arte de dobra usada pelos Nômades do ar;
                os bisões voadores foram os dobradores de ar originais. Concentra-se na velocidade
                e na evasão, abrindo mão do ataque ofensivo para uma defesa maior. Embora aparentemente
                sem movimentos de finalização fatais, é a mais dinâmica de todas as artes de dobra. Como
                o elemento da liberdade, os dobradores de ar usam sua capacidade de dobrar sem ser impedidos
                pelo chão ou quaisquer outros fatores ambientais e usam seu próprio impulso
                como uma arma, evitando ataques com agilidade surpreendente para cansar seus oponentes ou
                construindo uma inércia maciça para rajadas de vento explosivas para fazer seus movimentos
                finais de contra-ataque.
            </p>
            <p id='agua' hidden>
                A dobra de água é praticada por algumas pessoas da Tribo da Água. Um elemento versátil,
                é único no sentido de que o dobrador original do elemento não era um animal, mas sim a
                Lua. Semelhante ao seu elemento, dobradores de água são extremamente adaptáveis ​​e
                versáteis. O dobramento de água concentra-se no fluxo de energia, concentrando-se menos
                na força e mais em direcionar a própria energia do oponente contra ele. Enquanto a vitória
                de um dobrador na batalha depende de sua habilidade ou engenhosidade, dobradores de água
                ganham uma séria vantagem ou desvantagem dependendo da quantidade de água ao seu redor,
                embora dobradores de água altamente qualificados possam tirar água de qualquer lugar, como
                extrair umidade do ar e dobrar a água em coisas vivas, especialmente plantas.
            </p>
            <p id='terra' hidden>
                A dobra de terra se origina no Reino da Terra e os primeiros dobradores de
                terra foram as toupeiras. Exige uma conexão especial com a terra que pode
                ser alcançada com um jing neutro, ouvindo, embora aparentemente não fazendo
                nada e esperando o momento certo para atacar. Como dobradores de água,
                dobradores de terra ganham uma vantagem ou desvantagem na batalha com base na
                quantidade de terra ao seu redor, embora as condições não sejam tão extremas.
            </p>
            <p id='fogo' hidden>
                A dobra do Fogo é usado pelo povo da Nação do Fogo e é a arte de dobra mais agressiva.
                Os dragões foram os primeiros dobradores de fogo; eles posteriormente ensinaram os
                Guerreiros do Sol. Por muito tempo, as disciplinas de dobra de fogo foram ensinadas
                a serem alimentadas pelo ódio, em oposição à fonte original. Como o elemento de poder,
                os dobradores de fogo devem ser capazes de manter uma fonte constante de energia e
                equilíbrio na batalha, desencadeando uma saraivada de ataques diretos e sucessivos.
                Ao contrário de outros dobradores que dependem de fontes externas de seus elementos para
                dobrar, dobradores de fogo podem criar fogo usando sua fonte de calor interna, além de
                controlar as chamas já existentes.
            </p>
        </div>


    </section>

    <footer id='footer'>Projeto Sistemas para Internet II - 2021</footer>
</body>

</Html>