<!DOCTYPE html>
<Html lang="pt-br">

<head>
    <title>Avatar: a Lenda de Aang</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header>

        <h1 id="espaço">pad</h1>
        <h1 id="titulo">Avatar a Lenda de Aang</h1>
        <img src="../assets/header.png" alt="Avatar">
        <nav id="barraNavegacao">
            <button onclick="location.href='../index.html'" type="button">Introdução</button>
            <button onclick="location.href='enredo.html'" type="button">Enredo</button>
            <button onclick="location.href='personagens.html'" type="button">Personagens</button>
            <button onclick="location.href='elementos.html'" type="button">Elementos</button>
            <button onclick="location.href='trivia.html'" type="button">Trivia</button>
        </nav>

    </header>

    <section id="div_A">
        <br>

        <h2>Enredo</h2>

        <br>
        <p>Em um mundo fantástico, a humanidade é dividida em quatro nações: os Nômades do Ar, as Tribo da Água, a Nação do Fogo e o Reino da Terra. Dentro de cada nação, há uma ordem de homens e mulheres notáveis, chamados de "Dominadores", que são capazes de manipular um dos quatro elementos nativos, fazendo uma "Dobra", que combina artes marciais variadas. Para manter o equilíbrio entre estas nações, existe um único dobrador que é capaz de controlar os quatro elementos. Esse dobrador é o "Avatar", um escolhido que manifesta o espírito do mundo em uma forma humana. Quando o Avatar morre, o seu espírito reencarna em outra nação seguindo um ciclo milenar. Começando com o domínio de seu elemento nativo, o Avatar vai aprender como comandar todos os quatro elementos. Ao longo das eras, as incontáveis encarnações do Avatar serviram para manter as quatro nações em harmonia.</p>

        <p>Porém, na época em que se passa a história, a Nação do Fogo iniciou uma guerra cujo objetivo é dominar as outras três nações. Somente o Avatar poderia impedi-la, "mas quando o mundo mais precisa dele, ele desapareceu." Seguindo o ciclo de reencarnação, o próximo Avatar deveria nascer entre os Nômades do Ar. Sabendo disso, a Nação do Fogo atacou os nômades do ar e eles foram dizimados. A partir daquele dia ninguém mais viu um dominador de ar, e acredita-se que todos eles morreram.</p>
        
        <p>Entretanto, cem anos passaram e dois irmãos da Tribo da Água, chamados Katara e Sokka, encontram um garoto que estava preso dentro de um iceberg e logo descobrem que o garoto, que atende pelo nome de Aang, é um dominador de ar, além de ser o Avatar que sumiu há cem anos atrás. No desenvolvimento da série, Katara e Sokka ajudam o jovem Aang a encarar o seu destino e a salvar o mundo, pois o Avatar representa a maior ameaça às conquistas da Nação do Fogo e a maior esperança para que o mundo volte ao equilíbrio normal.</p>
            
        <p>Nestas viagens exploram-se os universos psicológicos dos personagens com o desenrolar de suas ações, bem como a crueldade e a falta de escrúpulos da Nação do Fogo em suas manobras políticas no mundo para dominá-lo, além de conspirações e elos entre grupos de pessoas. Romances também são explorados e o desenvolvimento do poder dos personagens é observável episódio a episódio.</p>

        <p>A história é dividida em 3 capítulos
            <ol>
                <li>Livro Um: Água</li>
                <li>Livro Dois: Terra</li>
                <li>Livro Três: Fogo</li>
            </ol>
        </p>
    </section>

    <footer id='footer'>Projeto Sistemas para Internet II - 2021</footer>
</body>

</Html>