<!DOCTYPE html>
<Html lang="pt-br">

<head>
    <title>Avatar: a Lenda de Aang</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <script src='../js/script.js'></script>
</head>

<body>

    <header>

        <h1 id="espaço">pad</h1>
        <h1 id="titulo">Avatar a Lenda de Aang</h1>
        <img src="../assets/header.png" alt="Avatar">
        <nav id="barraNavegacao">
            <button onclick="location.href='../index.html'" type="button">Introdução</button>
            <button onclick="location.href='enredo.html'" type="button">Enredo</button>
            <button onclick="location.href='personagens.html'" type="button">Personagens</button>
            <button onclick="location.href='elementos.html'" type="button">Elementos</button>
            <button onclick="location.href='trivia.html'" type="button">Trivia</button>
        </nav>

    </header>

    <section id="characters">
        <br>
        
        <h1 class='subtitulo'>Aang</h1>
        <img class='charimage' src="../assets/aang.png" alt="Aang">
        <p>
            Aang é o protagonista da série e o atual Avatar, um ser ciclicamente reencarnado que mantém o equilíbrio
            mundial.
            Aang geralmente age de maneira divertida e despreocupada.
            Um pouco antes do início da guerra, Aang estava congelado num iceberg durante 100 anos. Ele emerge,
            ainda biologicamente com doze anos de idade, em um mundo tragado pela guerra. Durante sua ausência, 
            a Nação do Fogo entrou em guerra com as outras nações e conseguiu eliminar totalmente os pacifistas 
            Nômades do Ar. Aang, o último de sua espécie, era o único que poderia pôr fim à guerra, aprendendo 
            a dominar os outros três elementos e ser capaz derrotar o Senhor do Fogo Ozai.
        </p>
        <br>

        <h1 class='subtitulo'>Katara</h1>
        <img class='charimage' src="../assets/katara.png" alt="Katara">
        <p>
            Katara é uma dobradora de água, nascido na Tribo da Água do Sul, filho do Chefe Hakoda e sua
            esposa Kya. Durante sua infância, ela foi a única dobradora de água a viver na Tribo da Água do Sul.
            Depois de perder sua mãe em um ataque da Nação do Fogo e seu pai partir para a
            batalha contra a Nação do Fogo na Guerra dos Cem Anos, ela foi criada por sua avó paterna Kanna ao
            lado de seu irmão mais velho Sokka. Quando adolescente, Katara e seu irmão descobriram o
            jovem Avatar do Air Nomad, Aang, que ficou congelado em um iceberg com seu bisão, Appa, por cem anos.
        </p>
        <br>

        <h1 class='subtitulo'>Sokka</h1>
        <img class='charimage' src="../assets/sokka.png" alt="Sokka">
        <p>
            Sokka é um guerreiro de 15 anos da Tribo da Água do Sul e irmão mais velho de Katara. Sem poder de
            dobra próprio, Sokka depende em grande parte de um bumerangue metálico, um bastão de metal,
            um facão e, mais tarde, um jian ou espada preta, criada a partir dos metais de um meteorito.
            Surpreendentemente, em um habitante de um mundo místico, Sokka é um engenheiro, no qual ele é
            facilmente capaz de entender a tecnologia avançada da Nação do Fogo e
            aperfeiçoa o design do balão de ar quente. Além disso, ele é heterodoxo e engenhoso em seus
            empreendimentos, e uma fonte de alívio cômico em toda a série.
        </p>
        <br>

        <h1 class='subtitulo'>Toph</h1>
        <img class='charimage' src="../assets/toph.png" alt="Toph">
        <p>
            Toph Beifong é uma mestre da dobra de terra, uma das mais poderosas de seu tempo e a descobridora
            da dobra de metal. Cega desde o nascimento, Toph era constantemente tratada com condescendência
            por causa de sua deficiência visual, principalmente por seus pais superprotetores, Lao e Poppy
            Beifong. Ao descobrir texugos, animais dobra de terra que também são cegos, ela aprendeu a usar
            a dobra de terra como uma extensão de seus sentidos. Isso deu a ela a capacidade de "ver" cada
            vibração que passa pelo solo.
        </p>
        <br>

        <h1 class='subtitulo'>Suki</h1>
        <img class='charimage' src="../assets/suki.png" alt="Suki">
        <p>
            Suki é a líder das guerreiras Kyoshi da Ilha Kyoshi do Reino da Terra. Tendo
            começado seu treinamento quando tinha apenas oito anos de idade, ela era muito respeitada por
            seus companheiros guerreiros por sua liderança e habilidades de combate. Quando a equipe Avatar
            chegou na Ilha Kyoshi, Suki e alguns outros guerreiros Kyoshi os capturaram, pensando que eram
            espiões da Nação do Fogo, mas os libertaram e os tornaram amigos após perceber que Aang era o
            Avatar. Inspirada pelos forasteiros por ajudar a salvar sua aldeia do Príncipe Zuko, ela
            e os outros guerreiros Kyoshi deixaram a ilha para ajudar o Reino da Terra a lutar contra a
            Nação do Fogo.
        </p>
        <br>

        <h1 class='subtitulo'>Zuko</h1>
        <img class='charimage' src="../assets/zuko.png" alt="Zuki">
        <p>
            Zuko é um mestre dobra de fogo, nascido como um príncipe da Família Real da Nação do Fogo,
            que reinou como Senhor do Fogo de 100 AG até sua abdicação em 167 AG. Originalmente o principal
            inimigo da Equipe Avatar, Zuko dedicou três anos tentando capturar o Avatar para
            acabar com seu banimento e recuperar sua honra como Príncipe Herdeiro da Nação do Fogo. Ele é
            reconhecível pela distinta cicatriz de queimadura no lado esquerdo do rosto, desde a sobrancelha
            até a bochecha, que foi dada a ele por seu pai, Lorde do Fogo Ozai, pouco antes de seu banimento
            como resultado de um incidente no qual ele desrespeitou involuntariamente seu pai falando fora de
            hora e se recusando a duelar com ele.
        </p>
        <br>

    

        <table>
            <tr>
                <th>Nome</th>
                <th>Elemento</th>
                <th>Idade</th>
            </tr>
            <tr>
                <td>Aang</td>
                <td style="color: lightblue;">Ar</td>
                <td>112(12 Biológicamente)</td>
            </tr>
            <tr>
                <td>Katara</td>
                <td style="color: darkblue;">Água</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Sokka</td>
                <td style="color: gray;">Nenhum</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Toph</td>
                <td style="color: brown;">Terra</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Suki</td>
                <td style="color: gray;">Nenhum</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Zuko</td>
                <td style="color: crimson;">Fogo</td>
                <td>16</td>
            </tr>
        </table>

    </section>
    <footer id='footer'>Projeto Sistemas para Internet II - 2021</footer>
</body>

</Html>